.overlay *{
  color: #cdd4db !important
}

html {
  scroll-behavior: smooth;
}




.ui.container.overlay {
  position:absolute;
  top:10%;
  left:60%;
  z-index:1;
  margin-left:-100px !important;
}

button.ui.button {
  color: rgba(41, 52, 61, 0.8) !important
}

button.ui.button.primaryBtn {
  color: white !important;
  background-color:rgba(41, 52, 61, 0.8);
}

.metaBtn {
  height: 45px;
  color: darkslategrey !important
}

